/* CSS declarations go here */

#adminHomeBody {
	background-color: #575757;
	padding-top: 60px;
	height: 100%;
	min-height: 100%;
}
#adminHomeTitle, #toggleButtons {
	display: inline;
}

#toggleButtons{
	float: right;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 30px;

}

#adminHomeTitle {
	color: white;
	font-size: 500%;
	padding-left: 30px;
}

#adminHomeBrandText {
  color: white;
}

#adminHomeBrandText:hover {
  color: orange;
  cursor: pointer;
}


#adminHomeArc {
  color: DarkOrange;
}

#adminHomeHeader {
	border-bottom: 5px solid orange; 
	padding: 50px;
}

/*buttons*/
#toggleGraphView, #toggleListView {
	color: white;

	background: transparent;
	border: 2px solid white;
	outline: none;
	padding: 10px;
	box-shadow: none;
	font-size: 150%;
	margin-left: 10px;
	margin-right: 5px;
}

#toggleGraphView:hover, #toggleListView:hover {
	background: white;
	color: orange;
}



.adminHomeIssueListItems {
	color: white;
}

#adminHomeIssueList {
	list-style-type: none;
    counter-reset: ol-counter;

    margin: 0;
    margin-left: 2em;
    margin-right: 0;
    padding-bottom: 5em;
}


#adminHomeIssueList > li:before {
	content: counter(ol-counter);
    counter-increment: ol-counter;

    position: relative;
    top: 85px;

    font-size: 200%;
}

.panel {
	background-color: #575757;
	border: 2px solid orange;
	outline: none;
	box-shadow: none;
	margin-right: 50px;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 50px;
}

.panel-body {
	padding-top: 10px;
	padding-left: 30px;
	padding-bottom: 20px;
}

#adminIssuePanelName {

}


#toggleButtonsGraphView {
	margin-bottom: 2em;
}

#toggleIssueList, #toggleDistrictList {
	margin: 5px;
	padding: 10px;

	color: orange;

	background: transparent;
	border: 2px solid orange;
	outline: none;
	box-shadow: none;
	font-size: 100%;
	margin-right: 5px;

}

#adminIssueGraphViewRow {
	padding-top: 3em;
	padding-left: 2em;
}

#graphViewIssueListDiv {
	background: transparent;
}

.graphViewListItem {
	background: transparent;
	border: 2px solid orange;
	outline: none;
	color: orange; 
}

.listItemText {
	color: orange;
}
