/* CSS declarations go here */

/* Note: CSS file is linked in one overall issue block element.*/

/*#barChart {
	position: relative;
}*/

* {
  box-sizing: border-box; 
}

section {
  width: 100%;
  /*padding: 0 7%;*/
  display: table;
  margin: 0;
  max-width: none;
  /*background-color: #373B44;*/
  height: 95vh;
  background-color: #575757; 

  /*background: -webkit-linear-gradient(white, PeachPuff); */
  
}

.content {
  display: table-cell;
  vertical-align: middle;
  border-bottom: 1px solid orange;
}

body {
	margin: 0;
	padding: 0;
	/*height: 50%;*/
}

.issuePanelClass {
	height: 100%;

}

.navbar {
  /*background:rgba(255,255,255,0.9);*/
  background: #575757;
  opacity: 0.9;
}

.graphDiv {
  padding: 0px;
  margin: 0px;
}

#profileHomeBrandText {
  color: white;
}

#profileHomeBrandText:hover {
  color: orange;
  cursor: pointer;
}


#profileHomeArc {
  color: DarkOrange;
}

#toDoHeading {
  color: orange;
  text-align: left;
  padding-left: 50px;
  font-size: 800%; 
  padding-top: -15px;
  margin-top: 0px;
}

.toDoListItem {
  position: relative;
  list-style: none;
  text-align: left;
  font-size: 180%;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: -40px;
  margin-right: 10%;
}

.toDoListItemLabel {
  position: relative;
  top: 2px;
  color: white;
}

.toDoListItemText {
  position: relative;
  bottom: 55px;
  left: 60px;
  color: white;
  padding-left: 10px;
  font-size: 180%;
  text-align: left;
  cursor: pointer;
  width: 80%;
  margin-right: 8%;

}

.toDoListItemText:hover {
  color: orange;

}

/*.toDoCheckBox {
  color: orange !important;
}*/

input[type="checkbox"]:not(old) {
  display: none;
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  opacity: 0;
}

input[type=checkbox]:not(old) + label {
  display: inline-block;
  margin-left: 0em;
  line-height: 1.5em;
  cursor: pointer;
}

input[type=checkbox]:not(old) + label > span {
  display: inline-block;
  width: 0.875em;
  height: 0.875em;
  margin: 0.25em 0.5em 0.25em 0.25em;
  border: 0.1em solid orange;
  background: transparent;
  vertical-align: bottom;
  cursor: pointer;
}

input[type=checkbox]:not(old):checked + label > span:before{
  content: '✓';
  display: block;
  width: 1em;
  color: white;
  font-size: 0.875em;
  line-height: 1em;
  text-align: center;
  position: relative;
  bottom: 25%;
  right: 10%;
  cursor: pointer;
}

/* modal CSS settings */
#profileHomeModal {
  width: 100%;
  height: 100%;
  
  
}

#profileHomeModalContent {
  background: rgba(255,255,255,0.9);
  padding: 0;
  top: 0px;
  left: 0px;
}

#myModalLabel {
  padding-top: 10px;
  padding-left: 20px;
}

.myChangeListItemListel {
  font-size: 120%;
}

#issueNavButton, #user-settings-button, #logoutButton {
  color: white;
  background: transparent;
}

/*.signedInText {
  color: white;
}*/

.row {
  padding-top: 50px;
  padding-bottom: 10px;
}

.returnToIssueBlock {
  cursor: pointer;
}


.returnToIssueBlock:hover {
  fill: black;
}

#escapeButton {
  font-size: 75%;
}

#listGroupForModal {
  background: transparent;
}
.listGroupItemNavModal {
  
}

.listGroupItemNavModal:select {
  
}

/*.listGroupText {
  color: white;
}*/

.listGroupText:hover {
  color: orange;
}

#inspirationDiv {
  padding-left: 35px;
}

#posse {
  color: DarkOrange;
}

#storyDiv {
  padding-top: 10px;
  font-size: 150%;
}

#userHomeSignedIn {
  color: orange;
  text-decoration: none; 
  cursor: pointer;
}

#myModalLabel:hover {
  cursor: pointer;
  color: DarkOrange;

}