.formPage {
	padding: 45px;
}

#user-home-button {
  color: white;
}

#user-home-button:hover {
  color: orange;
  cursor: pointer;
}


#adminHomeArc {
  color: DarkOrange;
}

/*BODY {
	background-color: #FFFAE2;
}*/

#userSettingsBody, #userSettingsColumn1, #userSettingsColumn2 {
	background-color: #FFFFFF; 
	background-size: cover; 
	width: 100%;
	height: 100%;
}


.checkbox, .issue {
	display: inline;
}

#passwordTitle, #arcIssues{
	padding: 15px;
}

#theTitle{
padding: 15px;
padding-left: 35px;
}

#issueSelect{
	width: 305px;

}

.btn-group{
	padding-top: 10px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;}

.each {
	padding: 5px;
	padding-left: 35px;
}

#A,#B,#C {
	display: inline;
}

#inputName, #inputUsername, #inputEmail, #inputPassword,#inputInspiration,#inputZipcode,#inputOPassword, #inputNPassword, #confirmNPassword  {
	width: 500px;
	height: 30px;


}

#inputStory, #editStoryButton, #saveStoryButton {
	display: inline;
}

#editStoryButton, #saveStoryButton {
	padding-top: 10px;
	padding-bottom: -5px;
	vertical-align: top;
}


#inputStory {
	width: 500px;
	height: 260px;
}

.title {
	padding: 10px;
}

.checkbox, .issue {
	display: inline;
}

#saveButton, #editButton, .input {
	display: inline;
}


#saveNameButton, #saveStoryButton,#saveInspirationButton, #saveZipCodeButton{
	visibility: hidden;
}

#formProblem, .formProblem, #alertMessageWrong, #alertMessageMatch, #alertMessageBad, #savedSuccessfullyMessage, #alertName, #alertInspiration, #alertZip, #alertStory {
	visibility: hidden;
}
