.formPage {
	padding: 45px;
}

#passwordTitle, #arcIssues, #theTitle{
	padding: 15px;
}


.btn-group{
	padding-top: 10px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;}

.each {
	padding: 5px;
	padding-left: 20px;
}

#inputName, #inputUsername, #inputEmail, #inputPassword,#inputZipcode,#inputOPassword, #inputNPassword, #confirmNPassword  {
	width: 305px;
	height: 30px;


}

#inputStory {
	width: 305px;
	height: 250px;
}

.title {
	padding: 10px;
}

.checkbox, .issue {
	display: inline;
}

#saveButton, #editButton, .input {
	display: inline;
}

#editNameButton, #editEmailButton, #editStoryButton, #editZipCodeButton{
	visibility: hidden;
}

#alertMessage {
	visibility: hidden;
}