.navbar {
  /*background:rgba(255,255,255,0.9);*/
  background: #575757;
  opacity: 0.9;
}
#profileHomeBrandText {
  color: white;
}

#profileHomeBrandText:hover {
  color: orange;
  cursor: pointer;
}


#profileHomeArc {
  color: DarkOrange;
}

.formPage {
	padding: 45px;
}

.checkbox, .issue {
	display: inline;
}

#passwordTitle, #arcIssues{
	padding: 15px;
}

#theTitle{
padding: 15px;
padding-left: 35px;
}

#issueSelect{
	width: 305px;

}

.btn-group{
	padding-top: 10px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;}

.each {
	padding: 5px;
	padding-left: 20px;
}

#inputName, #inputUsername, #inputEmail, #inputPassword,#inputInspiration,#inputZipcode,#inputOPassword, #inputNPassword, #confirmNPassword  {
	width: 305px;
	height: 30px;


}

#inputStory {
	width: 305px;
	height: 250px;
}

.title {
	padding: 10px;
}

.checkbox, .issue {
	display: inline;
}

#saveButton, #editButton, .input {
	display: inline;
}

#editNameButton, #editEmailButton, #editStoryButton,#editInspirationButton, #editZipCodeButton{
	visibility: hidden;
}

#alertMessage, #savedSuccessfullyMessage {
	visibility: hidden;
}