.edit, #editLeg {
	visibility: hidden;
}
#admin-home-button {
  color: white;
}

#admin-home-button:hover {
  color: orange;
  cursor: pointer;
}

#adminHomeArc {
  color: DarkOrange;
}

#admin-home-button:hover {
	cursor: pointer;
	color: orange;
}

.checkbox, .todo, .goal, .message, .save,.edit, .deleteToDo {
	display: inline; 
	padding: 3px
}

.saveLegislatorButton {
	visibility: hidden;
}

.saveToDoButton {
	visibility: hidden;
}

.legTemplateDiv {
	margin: 25px;
	text-align: center;

}

.toDoTemplateDiv {
	margin: 25px;
	text-align: center;
}

#contactList, #addLegislator{
	text-align: center;
}

#todoList{
	text-align: center;
	padding: 10px

}



#issueSelect {
	width: 405px;
	padding-top:10px;
}

#list-group, #newIssueField {
	display: inline;
}

.nameInput, .emailInput, .phoneInput{
	width: 180px;
}
.nameInput, .emailInput, .phoneInput, #saveLegislatorButton, #editLegislatorButton, #deleteLegislatorButton {
	display: inline;
}

#addLegislatorRow, #addToDoRow{
	text-align: center;

}

 #addLegislatorButtonDiv{
	
	padding-top: 5px;
	text-align: center;

}

.aLegRow, .aToDoRow {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	margin-bottom: 5px;

}

#addToDoRowButton, #addLegislatorRowButton {
	margin: 5px;
	text-align: center;
}





.checkInput, .todoInput, .goalInput, .messageInput, #saveToDoButton, #editToDoButton, #deleteToDoButton{
	display: inline;
}
.form-control {
	display: inline;
}


.todoInput, .goalInput, .messageInput{
	width: 180px;
}

#addIssueButton, #addIssueField, #deleteIssueButton, #listGroup {
	display: inline;
}

#addIssueField{
	width: 104px;
}

#save, #edit {
	display: inline;
}


#editLeg, #saveLeg {
	display: inline;
}

#listIssues{
	padding-top: 10px;
}

