.edit, #editLeg {
	visibility: hidden;
}

.checkbox, .todo, .goal, .message, .save,.edit, .deleteToDo {
	display: inline; 
	padding: 3px
}

.row,.legRow{
	text-align: center;
	padding: 15px;	
}

#contactList, #addLegislator{
	text-align: center;
}

#todoList{
	text-align: center;
	padding: 10px
}

#issueSelect {
	width: 150px;
}

#listGroup, #newIssueField {
	display: inline;
}

#nameInput, #emailInput, #addressInput{
	width: 300px;
}
#nameInput, #emailInput, #addressInput, #saveLegislatorButton, #editLegislatorButton, #deleteLegislatorButton {
	display: inline;
}

#addLegBtnDiv, #addToDoBtnDiv{
	text-align: center;
}

#checkInput, #todoInput, #goalInput, #messageInput, #saveToDoButton, #editToDoButton, #deleteToDoButton{
	display: inline;
}

#todoInput, #goalInput, #messageInput{
	width: 300px;
}

#addIssueButton, #addIssueField, #deleteIssueButton {
	display: inline;
}

#addIssueField{
	width: 150px;
}

#save, #edit {
	display: inline;
	/*position: absolute;*/
}


#editLeg, #saveLeg {
	display: inline;
	/*position: absolute;*/
}

