.checkbox, .todo, .goal, .message, .saveEdit, .deleteToDo, .box {
	display: inline; 
	padding: 3px
}

.row {
	text-align: center;	
}

#contactList, #addLegislator{
	text-align: center;
}

#todoList{
	text-align: center;
	padding: 10px
}

.contactName, .contactEmail, .contactAddress, .confirmLegislator, .deleteLegislator {
	display: inline;
	padding: 3px;
}

#addToDo{
	text-align: center;
}

.newIssueField, .dropdown, .deleteIssueField {
	display: inline;
}

#issueButton, #newIssue{
	display: inline;
}

.newIssueField {
	padding: 25px
}
