/* CSS declarations go here */

#slogan {
	/*position: fixed;
	top: 45%;
	left: 35%;*/

	/* fix. 
	top: 50%;
	left: 50%;*/
	font-size: 500%;
	position: relative;
	right: 5%;
	bottom: 6px;
}

.colorify {
	color: orange;
}

.form-control {
	outline: none;
  	border: none !important;
  	-webkit-box-shadow: none !important;
  	-moz-box-shadow: none !important;
  	box-shadow: none !important;
  	font-size: 500%;
  	height: 100px;
  	max-width: 500px;
  	background: transparent;
  	text-align: right;
}

.form-inline {
	/*width:50%;
	position: relative;
	margin: 0 auto;*/
	position: fixed;
	top: 40%;
	left: 10%;
}

#username-field {
	text-decoration: underline;
}

#username-field::-webkit-input-placeholder {
	text-decoration: underline;
   	animation: pulse 5s alternate infinite;
	-webkit-animation: pulse 5s alternate infinite;
}

#username-field:-moz-placeholder { /* Firefox 18- */
	text-decoration: underline;
   animation: pulse 5s alternate infinite;
	-webkit-animation: pulse 5s alternate infinite; 
}

@keyframes pulse {
  from {color: black}
  to {color:orange}
}
@-webkit-keyframes pulse {
  from {color: black}
  to {color:orange}
}

#password-field {
	text-decoration: underline;
	position: fixed;
	top: 50%;
	left: 10%;
	visibility: hidden;
}

#password-field {
	text-decoration: underline;
}

#password-field::-webkit-input-placeholder {
	text-decoration: underline;
   	animation: pulse 5s alternate infinite;
	-webkit-animation: pulse 5s alternate infinite;
}

#password-field:-moz-placeholder { /* Firefox 18- */
	text-decoration: underline;
   animation: pulse 5s alternate infinite;
	-webkit-animation: pulse 5s alternate infinite; 
}


#login-button {
	font-size: 60px;
	/*position: relative;
	right: 25px;*/
	outline: none;
  	border: none !important;
  	animation: pulse 5s alternate infinite;
  	-webkit-animation: pulse 5s alternate infinite;
}



#new-user-button {
	font-size: 60px;
	/*position: relative;
	right: 25px;*/
	outline: none;
  	border: none !important;
}

.button-group {
	position: fixed;
	top: 70%;
	left: 44%;
	display: inline;
}