/* CSS declarations go here */

#overallContainer {
	background-image: url(background.jpg);
	background-size: cover; 
	width: 100%;
	height: 1000px;
	opacity: 0.15;
	-webkit-filter: sepia(50%);

}

#slogan {
	/*position: fixed;
	top: 45%;
	left: 35%;*/

	/* fix. 
	top: 50%;
	left: 50%;*/
	font-size: 500%;
	position: relative;
	right: 5%;
	bottom: 6px;
}

.colorify {
	color: orange;
}


.form-inline {
	/*width:50%;
	position: relative;
	margin: 0 auto;*/
	position: fixed;
	top: 38%;
	left: 10%;
}

#username-field {
	font-size: 500%;
	text-decoration: underline;
	border-top: 0.5px solid #000;

	outline: none;
  	border: none !important;
  	-webkit-box-shadow: none !important;
  	-moz-box-shadow: none !important;
  	box-shadow: none !important;
  	height: 100px;
  	max-width: 500px;
  	background: transparent;
  	text-align: right;
}

#username-field::-webkit-input-placeholder {
	text-decoration: underline;
   	animation: pulse 3s alternate infinite;
	-webkit-animation: pulse 3s alternate infinite;


}

#username-field:-moz-placeholder { /* Firefox 18- */
	text-decoration: underline;
   	animation: pulse 3s alternate infinite;
	-webkit-animation: pulse 3s alternate infinite; 
}

@keyframes pulse {
  from {color: black}
  to {color:orange}
}
@-webkit-keyframes pulse {
  from {color: black}
  to {color:orange}
}



#password-field {
	font-size: 300%;
	text-decoration: underline;
	position: fixed;
	top: 50%;
	left: 10%;
	visibility: hidden;

	outline: none;
  	border: none !important;
  	-webkit-box-shadow: none !important;
  	-moz-box-shadow: none !important;
  	box-shadow: none !important;
  	height: 100px;
  	max-width: 500px;
  	background: transparent;
  	text-align: right;
}

#password-field {
	text-decoration: underline;
}

#password-field::-webkit-input-placeholder {
	text-decoration: underline;
   	animation: pulse 3s alternate infinite;
	-webkit-animation: pulse 3s alternate infinite;
}

#password-field:-moz-placeholder { /* Firefox 18- */
	text-decoration: underline;
   animation: pulse 3s alternate infinite;
	-webkit-animation: pulse 3s alternate infinite; 
}


#login-button {
	background: transparent;
	font-size: 300%;
	/*position: relative;
	right: 25px;*/
	outline: none;
  	border: none !important;
  	animation: pulse 3s alternate infinite;
  	-webkit-animation: pulse 3s alternate infinite;
  	position: fixed;
  	top: 68%;
  	left: 44%;
  	visibility: hidden;

}



#new-user-button {
	background: transparent;
	font-size: 150%;
	/*position: relative;
	right: 25px;*/
	outline: none;
  	border: none !important;
  	position: relative;
  	position: fixed;
  	top: 81%;
  	left: 44%;
  	visibility: hidden;
}


#admin-login-button {
	background: transparent;
	font-size: 300%;
	/*position: relative;
	right: 25px;*/
	outline: none;
  	border: none !important;
  	animation: pulse 3s alternate infinite;
  	-webkit-animation: pulse 3s alternate infinite;
  	position: fixed;
  	top: 68%;
  	left: 44%;
  	visibility: hidden;

}



#new-admin-button {
	background: transparent;
	font-size: 150%;
	/*position: relative;
	right: 25px;*/
	outline: none;
  	border: none !important;
  	position: relative;
  	position: fixed;
  	top: 81%;
  	left: 44%;
  	visibility: hidden;
}

.navbar{
 	background:rgba(255,255,255,0.6);
}

#adminLoginLink, #userLoginLink {
	cursor: pointer;

}

/*#new-user-button-text {
	font-size: 10%;
}

.button-group {
	position: fixed;
	top: 70%;
	left: 44%;
	display: inline;
}*/

